header h1 {
    display: inline;
}

#navigator_area {
    display: inline;
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

#body {
    width: 100%;
}

#navigator {
    width: 100%;
    text-align: right;
}

.navigator.item {
    display: inline;
    margin-left: 20px;
}

